body {
  background-color: rgba(0, 0, 255, 0.2);
}
  @media only screen and (min-width: 736px){
    body{
      background-color: rgba(255, 0, 0, 0.2);
    }

  }

h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;

  padding-right: 10px;
}
header {
  background-image: url(img/balen.jpeg);
  background-color: rgba(37, 212, 177, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 260px;
}

.imgrechts{
  float: right;
}

[class*="col-"]{
  float: left;
  padding: 15px;
}

@media only screen and (min-width: 736px){
  [class*="col-"]{
    width: 100%;
  }

.col-2 {width: 16.66%;}
.col-9 {width: 75%;}

.hok1 {
  height: 50%;
  padding: 10px;
  margin-bottom: 20%;
}

.hok2 {
height: 50%;
padding: 10px;
}

p {
  min-width: 300px;
  width: 75%;
}

.color2 {
  background-color: rgba(50, 212, 150, 0.3);
}

.color {
  background-color: rgba(50, 212, 230, 0.3);
}

img {
  height: 20%;
  width: 20%;
}
